<%= content_tag :h1, 'All Feeds' %>
<%= render 'form', feed: Feed.new %>

<div class="infinite-table">
  <%= content_tag :ul, class: 'no-bullet font-18 list-items', id: 'feeds' do %>
    <%= render partial: 'items', object: @feed_items %>
  <% end %>
</div>
<p class="pagination">
  <%= link_to_next_page(@feed_items, '+ MORE', remote: true, class: 'small-12 button font-18') %>
</p>