<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <title>RssReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </body>
  <body data-hook="body">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render partial: 'layouts/shared/offcanvas_menu' %>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render partial: 'layouts/shared/header' %>
            <% if flash.any? %>
              <div class='row column'>
                <% flash.each do |name, msg| %>
                  <%= content_tag(:div, content_tag(:div, content_tag(:div, msg)), class: 'small-12 column flash-messages') %>
                <% end %>    
              </div>
            <% end %>
            <div id="content" class='small-12'>
              <aside class='large-2 medium-3 float-left show-for-medium'>
                <ul class='no-bullet'>
                  <%= render partial: 'layouts/shared/feed_list' %>
                </ul>
              </aside>
              <%= content_tag :div, yield, class: 'content-wrapper small-offset-1 small-10 medium-offset-4 medium-6' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>